#web-name
{
    margin-left:320px;
    margin-top:80px;

    font-size:35px;
    color:wheat;
    
}

#web-name:hover{

color:tomato;
letter-spacing:2px;


 
    }
#welcome
{
    font-size:50px;
    color:rgb(248, 231, 231);
    margin-left:450px;
    margin-top:50px;
}#welcome:hover{
    color:rgb(240, 156, 240);
    box-shadow: thistle;
    letter-spacing:2px;

}

#games{
    color:rgb(147, 209, 147);
    font-style: inherit;
    font: caption;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

margin-left:450px; 
margin-top:60px;
font-size:30px;


}

#games:hover{
    color:lightseagreen;
}
.game1
{
margin-left:100px;
margin-top:50px;
    color:yellowgreen;

}
.game1:hover{
    color:lightseagreen;
    letter-spacing:5px; transform: translateY(18px);
    transition: transform 0.2s;
}
.game2
{margin-left:455px;
    
    margin-top:-310px;
    
}
.game2:hover{
    transform: translateY(18px);
    transition: transform 0.2s;
}

#carwa{
    font-size:20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:yellowgreen;
    margin-left:15px;
}#gtawa{

    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size:20px;margin-left:80px;
}#carwa:hover{
    letter-spacing:2px;
    color:lightseagreen;

}

.float container{

    border:3px solid;
    padding:20px;


}



.float {

    width: 25%;
    float: left;
    padding: 20px;
    border: 2px solid white;

}
.box
{
    width:1136px;
    height:100px;
    box-shadow:white 5px 0px 10px 0px;
    margin-left:66px;
    border-radius:5px;
    
    
}.box:hover{
    background-color:red ;
}.game3
{
margin-left:780px;
margin-top:-310px;
    color:yellowgreen;

}


.game3:hover{ transform: translateY(18px);
    transition: transform 0.2s;}
    
    #game3wa
{
    color:YELLOWGREEN;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}#game3wa:hover{
    color: lightseagreen;
    letter-spacing:2px;
}.game4
{
margin-left:1105px;
margin-top:-310px;
    color:yellowgreen;

}
.game4:hover{
    color:lightseagreen;
    letter-spacing:5px; transform: translateY(18px);
    transition: transform 0.2s;
}#game4wa
{
    color:yellowgreen;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;


margin-left:35px;}
    
    
    
    #game4wa:hover{
        color: lightseagreen;
        letter-spacing:2px;
        margin-left:30px;
    }


    .game5
    {
    margin-left:100px;
    margin-top:100px;
        color:yellowgreen;
    
    }
    .game5:hover{
        color:lightseagreen;
        letter-spacing:1px; transform: translateY(18px);
        transition: transform 0.2s;} 

        #game5wa
        {
            font-size: 22px;
            margin-left:10px;
    }.game6
    {
    margin-left:470px;
    margin-top:-325px;
        color:yellowgreen;
    
    }
    .game6:hover{
        color:lightseagreen;
        letter-spacing:2px; transform: translateY(18px);
        transition: transform 0.2s;} 
        #game6wa
        {
            font-size: 21px;
            margin-left:-18px;}

            .game7
    {
    margin-left:780px;
    margin-top:-318px;
        color:yellowgreen;
    
    }
    .game7:hover{
        color:lightseagreen;
        letter-spacing:2px;
        transform: translateY(18px);
        transition: transform 0.2s;}  
        #game7wa
        {
            font-size: 21px;
            margin-left:-1px;}



            .game8
            {
            margin-left:1110px;
            margin-top:-318px;
                color:yellowgreen;
            
            }
            .game8:hover{
                color:lightseagreen;
                letter-spacing:2px;
            transform: translateY(18px);
        transition: transform 0.2s;
    } 
                #game8wa
                {
                    font-size: 22px;
                    margin-left:10px;}
                    #logoutofmainsite{
                        margin-left:700px;
                        margin-top:-315px;
                    }