#shoot1{
    margin-left:845px;
    margin-top:120px;
        transform:translateY(18px);
        transition: transform 0.2s;


}
#shoot2
{

    margin-left:250px;
margin-top:-390px;
color:rgb(7, 8, 6);
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;   
}
#shoot3{


    margin-left:550px;
margin-top:40px;
color:rgb(175, 243, 86);
font-family:Arial, Helvetica, sans-serif;
}
#Shoot{


    font-size: 35px;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
color:rgb(2, 1, 1);
margin-left:400px;
margin-top:30px;
box-shadow: gold;
cursor: pointer;

}


#forward-assault{



    color:rgb(225, 182, 248);
    font-size:20px;
    box-shadow: cornsilk;
 margin-left:58px;
    
}
#forward-assault:hover{


    color:rgb(219, 191, 248);
    font-size:20px;
    box-shadow: rgb(97, 83, 25);
    letter-spacing: 2px;
    
}
#bubble-hamsters{

    color:rgb(252, 191, 209);
    font-size:20px;
    box-shadow: cornsilk;
 margin-left:80px;
    
}
#bubble-hamsters:hover{

    color:rgb(248, 187, 187);
    font-size:20px;
    box-shadow: rgb(97, 83, 25);
    letter-spacing: 2px;
    
}
#BUBBLE{



    color:rgb(6, 5, 7);
    font-size:20px;
    box-shadow: rgb(20, 20, 19);
 margin-left:60px;

}
#BUBBLE:hover{

    color:rgb(6, 5, 7);
    font-size:20px;
    box-shadow: rgb(18, 13, 44);
    letter-spacing: 2px;
    

}
#home{
    margin-left:200px;
    margin-top: 25px;
    color: black;
    border-radius: 5px;
    box-shadow:cornsilk;
    font-size: 25px;


}
#home:hover{
    box-shadow:crimson;
    color:darkblue;
    cursor: pointer;
    transform:translateX(5px);
    transition: transform 0.2s;
    
}    #logout{ margin-left:800px;
    margin-top: 25px;
    color: black;
    border-radius: 5px;
    box-shadow:cornsilk;
    font-size: 25px;

}  #logout:hover{box-shadow:crimson;
color:darkblue;
cursor: pointer;
transform:translateX(5px);
transition: transform 0.2s;}