#soccer1{

    margin-left:845px;
    margin-top:120px;
      
    



}
#soccer2{
    margin-left:250px;
    margin-top:-390px;
    color:rgb(7, 8, 6);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
}
#soccer3{
    margin-left:550px;
    margin-top:40px;
    color:rgb(175, 243, 86);
    font-family:Arial, Helvetica, sans-serif;
   
}
#soc1{
    color:rgb(220, 182, 245);
    font-size:23px;
    box-shadow: rgb(14, 12, 4);
 margin-left:40px;
 

}
#soc2{color:rgb(241, 220, 252);
    font-size:23px;
    box-shadow: cornsilk;
 margin-left:50px;

}

#soc3{
    color:rgb(23, 21, 24);
    font-size:23px;
    box-shadow: cornsilk;
 margin-left:80px;
}
#soc1:hover{
    color:rgb(213, 172, 248);
    font-size:23px;
    box-shadow: rgb(97, 83, 25);
    letter-spacing: 2px;
    
    

}
#soc2:hover{
    color:rgb(209, 166, 247);
    font-size:23px;
    box-shadow: rgb(97, 83, 25);
    letter-spacing: 2px;
    
    
}
#soc3:hover{

    color:rgb(33, 24, 41);
    font-size:23px;
    box-shadow: rgb(97, 83, 25);
    letter-spacing: 2px;
  
}
#Starter{
font-size:35px;
color:rgb(253, 109, 109);
margin-top:30px;
margin-left:450px;

}

#Starter:hover{
letter-spacing: 2px;
}

#home{

    margin-left:200px;
    margin-top: 15px;
    color: black;
    border-radius: 5px;
    box-shadow:cornsilk;
    font-size: 25px;


}
#home:hover{
    box-shadow:crimson;
    color:darkblue;
    cursor: pointer;
    transform:translateX(5px);
    transition: transform 0.2s;
}#logout{ margin-left:800px;
    margin-top: 25px;
    color: black;
    border-radius: 5px;
    box-shadow:cornsilk;
    font-size: 25px;
 
 }  #logout:hover{box-shadow:crimson;
 color:darkblue;
 cursor: pointer;
 transform:translateX(5px);
 transition: transform 0.2s;}